/* Global styles */

body {
    font-family: Roboto, Arial;
    min-height: 100vh;

    /* To push the footer down to the bottom of the page */
    display: flex;
    flex-direction: column;
}   

/* COMPONENT STYLES */

/* Hero image */
#heroImg {
    width:100%;
    height: 60vh;
}
/* City image cards */

div .card {
    margin: 5px;
    padding: 0px;
}

/* City card images */

.cityImageButton {
    min-width: 100%;
    height: 190px;
}

/* Google maps API dispayed map*/
#map {
    width: 100%;
    height: 400px;
}

/* Footer styles */

#footer {
    background-color: #212529;
    color: #FFFFFF;

        /* To push the footer down to the bottom of the page */
    margin-top: auto;
}



/* Cards */
/* Grids, margin between cards, images full width  */